{% extends 'base.html' %}

{% block header %}
<h4>{% block title %}{{title}}{% endblock %}</h4>
{% endblock %}

{% block content %}
<form action="?" method="POST" enctype="multipart/form-data">
  <input type="file" name="img_file" />
  <br />
  <br />
  <label for="img_title">image title</label>
  <input type="text" name="img_title" />
  <br />
  <button type="submit">upload</button>
</form>
{% if img_domain and img_data %}
<br />
<br />
<h5>{{img_data['img_title']}}</h5>
<br />
<img src={{img_domain}}/{{img_data['s3_path']}} />
{% endif %}
{% endblock %}
